$primary: #472836;
$secondary: #EBD494;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "section-color": #FEFFBE
);
@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-logo {
  width: 3rem;
}
